/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
}

canvas {
  border: 1px solid #f00;
  width: 100vw;
  height: 100vh;
}
